@import '../../configs/config.css';

.container {
    min-width: 100%;
    width: fit-content;
}

.item {
    display: flex;
    cursor: pointer;
    min-height: 50px;
    padding-left: 0px;
}

.item:hover {
    background-color: #38373f;
}

.icon {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./images/folder.png');
}

.icon__opened {
    background-image: url('./images/folder-opened.png');
}

.title {
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
}

.title__file {
    font-weight: 100;
    font-size: 12px;
}

.item:hover .title__file {
    font-weight: 100;
    border: none;
    border-left: 1px solid var(--textColor);
    color: var(--textColorHoveredFile);
}

.children {
}
